:root{
    --background-color:#404040;
    --text-color:#ffffff;
    --primary-color:rgb(78,125,186);
    --lowprimary-color:rgb(58,105,166);
    --black-color:#000;
} /*variables personalizadas que se pueden reutilizar en todo el CSS*/


body {
    font-family: 'Amaranth', sans-serif; 
    background-color: #cbd8d2;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #000000;
    margin: 0;
    padding: 0;
}

.info-page #ingresar-datos {
    display: none;
}

header {
    background-color:var(--background-color); 
    color: var(--text-color);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: 'Aboreto', sans-serif; 
    font-size: 2em; 
    padding: 5px;
    position: relative;
    z-index: 100; 
    position: fixed;
    top: 0;
    width: 100vw;
    
}

header .logo {
    max-width: 100px; 
    height: auto;
    margin-right: 20px;
}

header b {
    margin-left: 20px; 
}

.hero-section {
   
    height: 100vh; 
    width: 100vw;
    background-image: url('images/background.jpeg'); 
    background-size: cover;
    background-position: center;
    font-family: 'Aboreto', sans-serif; 

    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.t-background{
    margin:auto;
    width:90vw;
    min-width: 400px;
    max-width: 1540px;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border:1px solid #000000;
    border-radius: 20px;
    

}

main {
    padding: 0 20px;
    display: flex;
    height: 100%;
    justify-content: center;
}

.overlay-text {
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 20px;
    min-width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    
}

.overlay-text h1 {
    font-size: 2em; 
    margin: 0;
    text-align: center;

    
}

.overlay-text p {
    font-size: 1.5em;
}


.form-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

form {
    color: #ffffff;
    background-color: #404040;
    font-family: 'Amaranth', sans-serif; 
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    display: flex;
    height: auto;
    flex-direction: column;
    min-width: 500px;
}

form h2{
    margin: 0;
    font-weight: lighter;
    font-size: 1.6rem;
}

label {
    display: block;
    margin-bottom: 15px;
}

input, select, button {
    width: auto;
    padding: 0.5em;
    margin-bottom: 1em;
}

/*revisa aquí*/
button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--lowprimary-color);
}



.ticket-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.ticket-title {
    font-size: 2em;
    color: white; 
   
}

.ticket-description {
    font-size: 1.2em; 
    color: white; 
    margin-bottom: 20px; 
}

.button-container {
    text-align: center; 
}

input, select {
    background-color: #e0e0e0; 
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 1em;
    width: auto;
    transition: background-color 0.3s ease; 
}

input:focus, select:focus {
    background-color: #9caee5; 
    outline: none; 
}

h2 {
    text-align: center;
}

.ticket-result {
    text-align: center;
    margin: auto;
    background-color: var(--background-color);
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-code {
    font-size: 1.8em; 
    color: white;
    margin-top: 20px;
}


.ticket-result p {
    font-size: 1.5em;
}



.weather-container {
    display: flex;
    flex-direction: column;
   
    margin: 20px auto;
    max-width: 1200px;
    
}
.weather-container h3{
    margin: 0;
}
.info-box {
    background-color: var(--background-color);
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    max-width: 600px;
    margin: 20px auto;

    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-box img{
    background-color: var(--black-color);
    border-radius: 20px;
    max-width: 120px;
    max-height: 120px;
}

.info-page {
    background-color: #ffffff;
    background-image: none; 
}

.recommendations {
    margin-top: 10px;
    text-align: center;
}

.recommendations ul {
    list-style: none;
    padding: 0;
}

.recommendations ul li {
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons a {
    text-decoration: none;
    margin: 0 10px;
}


.button-container {
    margin-top: 10px; 
    text-align: left; 
}

.small-button {
    padding: 5px 10px; 
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 0.9em; 
    cursor: pointer;
    width: auto; 
    display: inline-block; 

}
@media (max-width:800px){
.t-background{
    flex-wrap: wrap;
}
}

.alert {
    font-size: 1.2em;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group-text {
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
}

.input-group-text i {
    font-size: 1.2em;  
    color: #333;
}

.form-control {
    border-right: none;  
}

.input-group .form-control:focus {
    box-shadow: none;   
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }}

.page-name-link {
        text-decoration: none; /* Quitar subrayado */
        color: inherit; /* Mantener el color original */
    }
    