{% extends 'base.html' %}

{% block content %}
<form method="POST" autocomplete="off" >
    <label for="city">Ciudad:</label>
    <input type="text" id="city" name="city" required>
    
    <label for="user_type">Seleccionar tipo usuario:</label>
    <select id="user_type" name="user_type" required>
        <option value="turista">Turista</option>
        <option value="sobrecargo">Sobrecargo</option>
        <option value="piloto">Piloto</option>
    </select>

    <button type="submit">Consultar clima</button>
</form>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

{% if suggestion %}
<p style="color: blue;">{{ suggestion }}</p>
{% endif %}

<div class="ticket-section">
    <h2 class="ticket-title">¿No conoces tu ticket?</h2>
    
    <p class="ticket-description">Consulta cuál es el Ticket asociado a tu vuelo dando click abajo:</p>
    
    <div class="button-container">
        <a href="{{ url_for('main.ticket') }}">
            <button class="generate-ticket-button">Generar un ticket</button>
        </a>
    </div>

    <div class="button-container">
        <a href="{{ url_for('main.consultar_por_ticket') }}">
            <button class="generate-ticket-button">Consultar por Ticket</button>
        </a>
    </div>
</div>

{% endblock %}
