{% extends 'base.html' %}

{% block content %}
<h2>Consultar por Ticket</h2>

<form method="POST" autocomplete="off">
    <label for="ticket">Ingrese su ticket:</label>
    <input type="text" id="ticket" name="ticket" required>

    <label for="user_type">Seleccionar tipo usuario:</label>
    <select id="user_type" name="user_type" required>
        <option value="turista">Turista</option>
        <option value="sobrecargo">Sobrecargo</option>
        <option value="piloto">Piloto</option>
    </select>

    <button type="submit">Consultar</button>
</form>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

<div class="buttons">
    <a href="{{ url_for('main.index') }}">
        <button>Regresar al menú principal</button>
    </a>
</div>

{% endblock %}
