{% extends 'base.html' %}

{% block content %}
<h2>Generar un Ticket</h2>

<form method="POST" autocomplete="off">
    <label for="origin">Ciudad de origen:</label>
    <input type="text" id="origin" name="origin" required>

    <label for="destination">Ciudad de destino:</label>
    <input type="text" id="destination" name="destination" required>

    <button type="submit">Generar Ticket</button>
</form>

{% if ticket %}
<p>Tu ticket generado es: <strong>{{ ticket }}</strong></p>
{% endif %}

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

{% if suggestion %}
<p style="color: blue;">{{ suggestion }}</p>
{% endif %}

<div class="buttons">
    <a href="{{ url_for('main.index') }}">
        <button>Regresar al menú principal</button>
    </a>
</div>

{% endblock %}
