{% extends 'base.html' %}

{% block content %}
<div class="overlay-text">        
    <h1>Generar ticket</h1>
</div>
<main>


<form method="POST" autocomplete="off">
    <h2>Ingresa los datos</h2>

    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
    
    {% if suggestion %}
    <div class="alert alert-warning mt-3" role="alert">
        {{ suggestion }}
    </div>
    {% endif %}

    <label for="origin">Ciudad de origen:</label>
    <input type="text" id="origin" name="origin" required>

    <label for="destination">Ciudad de destino:</label>
    <input type="text" id="destination" name="destination" required>

    <button type="submit">Generar Ticket</button>
   
    <div class="buttons">
        <a href="{{ url_for('main.index') }}">
            <button type="button">Menú principal</button>
        </a>
    </div>
</form>

{% if ticket %}
<p>Tu ticket generado es: <strong>{{ ticket }}</strong></p>
{% endif %}




</main>

{% endblock %}